.footer {
    background: var(--general-bg-button-footer);
    color: var(--general-text-white);
    padding: 178px 0 146px;
    
}

.footer__inner {
    display: grid;
    gap: 30px;
    grid-template-columns: 1.6fr 1fr 1fr;
    grid-template-rows: auto auto;
}

.footer__col {}

.footer__col-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    padding-bottom: 17px;
}

.footer__col-text p {
    max-width: 428px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 80px;
}

.footer__col-contact {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding-bottom: 32px;
}



.footer__col-number,
.footer__col-email {
    transition: var(--transition);
}

.footer__col-number:hover,
.footer__col-email:hover {
    color: var(--accent-text);
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    display: flex;
    align-items: baseline;
    justify-content: start;
    margin-bottom: 6px;
    gap: 10px;
    transition: var(--transition);
}

.footer__col-item:hover {
    color: var(--accent-text);
    cursor: pointer;
}

.footer__col-item path {
    transition: var(--transition);
}

.footer__col-item:hover path {
    fill: var(--accent-text);
    transition: var(--transition);
    cursor: pointer;
}


.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0px;
}


.footer__under {
    background: #18121E;
    color: var(--general-text-white);
    padding: 24px 0 24px;
}

.footer__under-content {
    display: flex;
    justify-content: space-between;
}

.footer__col-new {
    /* display: flex;
    justify-content: start;
    align-items: baseline; */
    margin-left: 8px;
}


.socials {}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 19px;
}

.social__item {
    width: 27px;
    height: 27px;

}

.social__item path {
    transition: var(--transition);
}

.social__item:hover path {
    fill: var(--accent-text);

}

.social__link {}