@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";
/* ================================================ */

.about {
    padding: 100px 0 220px;
}

.about__inner {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.about__video {
    max-width: 350px;
    max-height: 400px;
}

.about__video img {
    border-radius: 24px;
    width: 100%;
}

.about__video-img-next {
    position: absolute;
    left: 11%;
    top: 30%;
}

.about__video-img-prev img {
    position: relative;
}

.about__video-img-prev img,
.about__video-img-next img {
    transition: all 2s;
}

.about__video-img-prev img:hover,
.about__video-img-next img:hover {
    transform: scale(1.1);
    z-index: 1;
}


.about__content {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.about__content span {
    font-weight: 400;
    font-size: 24px;
    line-height: .83;
    color: var(--accent-text);
    margin-bottom: 8px;
}

.about__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    color: var(--general-text);
    margin-bottom: 40px;
}

.about-title {}

.about__text {
    margin-bottom: 40px;
}

.about__button {
    max-width: 200px;
    text-align: center;
}

/* ===================================================== */

.programm {
    background: #f3f5f4;
    padding: 80px 0 100px;
}

.programm__inner {
    display: flex;
    gap: 80px;
}

.programm__content {
    display: flex;
    flex-direction: column;
    max-width: 580px;
}

.programm__content span {
    font-weight: 400;
    font-size: 24px;
    line-height: .83;
    color: var(--accent-text);
    margin-bottom: 8px;
}

.programm__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    color: var(--general-text);
    margin-bottom: 40px;
}

.programm__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #18121e;
    margin-bottom: 40px;
}

.programm__list {}

.programm__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
}

.programm__item:last-child {
    margin-bottom: 0;
}

.programm__item-title-img {
    max-width: 50px;
    max-height: 50px;
}

.programm__item-title-img img {
    width: 100%;
}

.programm__item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: 0.01em;
    color: #18121e;
}

.programm__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #000;
}

.programm__button {
    margin-top: 40px;
    max-width: 236px;
    text-align: center;
}

.programm__gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: .75fr 1fr;
}

.programm__gallery-img {
    max-width: 250px;
}

.programm_gallery-img-rigth img {
    border-radius: 0 50px;
}

.programm_gallery-img-left img {
    border-radius: 50px 0;
}

.programm_gallery-img-rigth img,
.programm_gallery-img-left img {
    width: 100%;
    transition: all 2s;
}

.programm_gallery-img-rigth img:hover,
.programm_gallery-img-left img:hover {
    transform: scale(1.05);
}

/* =========================================================== */

.travel {
    padding: 82px 0 100px;
}

.travel__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.travel__content span {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: .83;
    color: #f2be22;
    margin-bottom: 8px;
}

.travel__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.travel__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    color: #18121e;
    margin-bottom: 40px;
}

.traver__card-gallery {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 20px; */
}

.travel__card {}

.travel__card-img {
    position: relative;
}

.travel__card-img>img {
    width: 100%;
    min-width: 200px;
    border-radius: 32px;
    object-fit: cover;
    object-position: 50% 50%;
}

.travel__card-rating {
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    border-radius: 4px 0 0 4px;
    padding: 4px 8px;
    backdrop-filter: blur(4px);
    background: rgba(253, 253, 253, 0.4);
}

.travel__card-rating span {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    color: #1a3e3e;
}

.travel__card-description {
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 24px;

    border-radius: 0 0 32px 32px;

    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.2);
}

.travel__card-title {}

.travel__card-title h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #fdfdfd;
}

.travel__card-title span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #fdfdfd;
}

.travel__card-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #fdfdfd;


    border-radius: 4px;
    padding: 8px 16px;
    width: 86px;
    background: rgba(255, 255, 255, 0.3);
}

.travel__button {
    text-align: center;
    margin-top: 50px;
    max-width: 244px;
}

/* ========================================================== */

.swiper {
    width: 1200px;
    height: 500px;
}

.swiper-scrollbar {
    display: none;
}

/* ==================================================================== */

.blog {
    background: #F3F5F4;
    padding: 80px 0 100px;
}

.blog__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__content span {
    font-weight: 400;
    font-size: 24px;
    line-height: .83;
    color: #f2be22;
    margin-bottom: 8px;
}

.blog__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    color: #18121e;
    margin-bottom: 40px;
}

.blog__card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.blog__card {
    display: flex;
    gap: 24px;
    background: #fdfdfd;
    padding: 16px;
}

.blog__card-img {
    min-width: 230px;
    max-width: 230px;
    overflow: hidden;
}

.blog__card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.blog__card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.blog__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    color: #18121e;
    margin-bottom: 24px;
}

.blog__card-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: #18121e;
    min-height: 116px;
    margin-bottom: 24px;
}

.blog__card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__card-date {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: #f2be22;
}

.blog__card-more {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: #1a3e3e;
}

.blog__button {
    margin-top: 50px;
    max-width: 220px;
}

/* =========================================== */

.gallery {}

.gallery__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.gallery__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.gallery__content span {
    font-size: 24px;
    line-height: .83;
    color: #f2be22;
}


.gallery__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 1.2;
    color: #18121e;
    margin-bottom: 40px;
}

.gallery__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item1 {
    grid-column: 1 / 3;
}

.item5 {
    grid-column: 2 / 4;
}

.gallery__grid img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.gallery__button {
    margin: 50px 0 100px;
    max-width: 178px;
    text-align: center;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.mailing {}

.mailing__inner {
    padding: 40px 100px;
    border-radius: 6px;
    max-width: 1180px;
    max-height: auto;
    box-shadow: 0 0 15px 0 rgba(24, 18, 30, 0.12);
    background: #fdfdfd;

    display: flex;
    gap: 44px;
    margin-bottom: -98px;
    z-index: 1;
    position: relative;
}

.mailing__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.mailing__sub-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    color: #f2be22;
}

.mailing__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.2;
    color: #18121e;
}

.mailing__block {
    max-width: 536px;
}

.mailing__block span {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #18121e;
    margin-bottom: 8px;
}

.mailing__form {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;
}

.mailing__form input {
    border-radius: 4px;
    padding: 0px 16px;
    width: 280px;
    height: 44px;
    background: #f3f5f4;

}

.mailing__form input::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.43;
    color: #18121e;
}

.mailing__button {}

.button {}

.mailing__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    color: #18121e;
}

.mailing__text a {
    text-decoration: underline;
}


/* ====================================================== */
/* ================================================= */
/* =============================================== */
@media (max-width: 1200px) {

    .header__top {
        margin-bottom: 20%;
    }

    .hero__title {
        font-family: "NEXT ART", "Arial", sans-serif;
        font-size: 40px;
        letter-spacing: 0.02em;
        color: var(--general-text-white);
        max-width: none;
        margin-bottom: 41px;
    }

    /* ============================================= */
    .hero__form form {
        justify-content: center;
        gap: 15px;
        padding-top: 10px;
        margin-bottom: 30px;
    }

    .hero__form span {
        margin-left: 8px;
        margin-bottom: 10px;
    }

    .hero__form select,
    .hero__form input {
        border: 1px solid #e1e3e4;
        border-radius: 8px;
    }

    .hero__form .button {
        margin-right: 0;
    }

    /* ====================================== */
    .about {
        padding: 100px 0 100px;
    }

    .about__inner {
        position: relative;
        display: grid;
        grid-template-columns: .5fr 1fr;
    }

    .about__content {
        padding-left: 50px;
    }

    .about__video-img-next {
        display: none;
    }

    /* ========================================== */

    .programm__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .programm__content {
        max-width: 700px;
    }

    .programm__content:first-child {
        align-items: center;
        justify-self: center;
    }


    .programm__gallery {
        padding-top: 40px;
        max-width: 700px;
        justify-self: center;
    }

    /* ====================================================== */
    .mailing__inner {
        padding: 40px 100px;
        border-radius: 6px;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .mailing__content {
        align-items: center;
    }

    .mailing__text {
        max-width: 550px;
    }
    .mailing__block {
        max-width: 100%;
        text-align: center;
    }

    .mailing__sub-title {
        font-size: 16px;
    }
    .mailing__title {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {

    .hero__form select,
    .hero__form input {
        width: 20vw;
    }

    /* ================================= */
    .travel__card-title h3 {
        font-size: 18px;
    }

    .travel__card-title span {
        display: none;
    }

    .travel__card-price {
        font-size: 16px;
        line-height: 1.22;

        border-radius: 4px;
        padding: 6px 12px;
        width: 67px;
        background: rgba(255, 255, 255, 0.3);
    }
}

@media (max-width: 1000px) {

    .nav {
        position: fixed;
        background: var(--general-bg-button-footer);
        inset: 0;
        padding: 12vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 24px;
    }

    .nav .button {
        display: none;
    }

    .burger-icon {
        display: flex;
    }

    .header__logo {
        max-width: 137px;
        z-index: 11;
        padding-top: 25px;
        padding-left: 25px;
    }

    /* ============================================ */
    .hero__form-select-place select,
    .hero__form-date input::placeholder,
    input[type='date'] {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 14px;
        color: #fdfdfd;
    }

    /* +++++++++++++++++++++++++++++++++++++++++++++++++ */

    .blog__card-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

}

@media (max-width: 900px) {
    .hero__title {
        font-size: 25px;
    }

    .hero__form form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-bottom: 40px;
        padding-bottom: 15px;
    }

    .hero__form select,
    .hero__form input {
        border: 1px solid #e1e3e4;
        border-radius: 8px;
        padding: 0px 16px;
        width: 270px;
        height: 52px;
        background-color: transparent;
    }

    /* ------------------------------------------------- */
    .footer__inner {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(2, auto);
    }

    .footer__col:first-child {
        grid-column: 1 / -1;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__col-text p {
        padding-bottom: 40px;
    }

    .socials {
        margin-bottom: 50px;
    }

    .footer__under-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* ================================================= */
    .about__inner {
        gap: 20px;
    }

    .about__content {
        padding-left: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #18121e;
    }


    .about {
        padding: 100px 0 100px;
    }

    .about__content span {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #f2be22;
    }

    .about__title {
        font-weight: 800;
        font-size: 24px;
        line-height: 1.2;
        color: #18121e;
    }

    /* ========================================= */

    .mailing__content {
        align-items: center;
    }

    .mailing__sub-title {
        font-size: 18px;
    }
    .mailing__title {
        display: none;
    }
    .mailing__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 8px;
    }
}

@media (max-width: 750px) {
    .about {
        padding: 50px 0 50px;
    }

    .about__inner {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .about__content {
        padding-left: 16px;

    }

    .about__content:last-child {
        align-items: center;
        justify-content: center;

    }

    .about__inner:first-child {
        align-items: center;
        justify-content: center;
    }

    /* ==================================== */
    .gallery__grid {
        display: flex;
        flex-direction: column;

    }

    .item1 {
        display: none;
    }


    .item5 {
        display: none;
    }


    .gallery__content span {
        font-size: 16px;
    }


    .gallery__title {
        font-size: 20px;
    }

    /* ================================== */

    .mailing__inner {
        padding: 40px 20px;
        border-radius: 6px;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .mailing__form input {
        border-radius: 4px;
        padding: 0px 16px;
        width: 182px;
        height: 44px;
        background: #f3f5f4;
    
    }

}

@media (max-width: 550px) {
    .hero__title {
        font-size: 20px;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: start;

    }

    .footer__col,
    .footer__col:first-child {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .socials {
        margin-bottom: 20px;
    }

    /* --------------------------------------- */

    .programm__content span {
        font-size: 16px;
        line-height: 1.25;
    }

    .programm__title {
        font-size: 24px;
    }

    .programm__text {
        font-size: 16px;
    }

    /* ======================================== */

    .travel__content span {
        font-size: 20px;
    }

    .travel__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .travel__title {
        font-size: 24px;
        text-align: center;
    }

    /* ====================================== */

    .blog__card-img {
        min-width: 280px;
    }

    .blog__card {
        flex-direction: column;
    }

    .blog__card {
        align-items: center;
    }

}

@media (max-width: 450px) {
    .footer {
        padding-bottom: 50px;
    }

    .hero__title {
        font-size: 15px;
    }

    .footer__under-content {
        font-size: 14px;
    }

    /* ======================================= */
    .about__video-img {
        max-width: 300px;
        max-height: 350px;
    }

    /* ====================================================== */

    .swiper {
        width: 600px;
        height: 382px;
    }

    .travel {
        padding: 82px 0 50px;
    }

    .travel__card-price {
        font-size: 16px;
        line-height: 1.22;

        border-radius: 4px;
        padding: 6px 12px;
        background: rgba(255, 255, 255, 0.3);
    }

    .travel__card-img {
        width: 290px;
    }


    .blog__content span {
        font-size: 16px;
    }

    .blog__title {
        font-size: 24px;
    }
}